@{
    Layout = "~/_SiteLayout.cshtml";
    Page.Title = "About FFXIV Fishing Tracker";
}

@section featured {
<section class="featured">
    <div class="content-wrapper">
        <div class="title">
            <h1>@Page.Title.</h1>
        </div>
   </div>
</section>
}

<p>
    FFXIV Fishing Tracker is a website for tracking your progress catching the various fish found in Final Fantasy XIV (FFXIV).
    You may use this website to track which fish you have caught, with various options for filtering them and searching for them based on map or location.
</p>

@*<aside> /*This could be used for a donations box later*/
    <h3>Aside Title</h3>
    <ul>
        <li><a href="~/">Tracker</a></li>
        <li><a href="~/About">About</a></li>
        <li><a href="~/Contact">Contact</a></li>
    </ul>
</aside>*@
