@{
    Layout = "~/_SiteLayout.cshtml";
    Page.Title = "Contact";
}

<div class="title">
    <h1>@Page.Title.</h1>
</div>
<p> For all questions, issues, or compliments, please contact me through the GitHub project!</p>
<section class="contact">
    <p>
        <span class="label">GitHub:</span>
        <span><a href="https://github.com/Azrantha">FFXIV Fishing Tracker</a></span>
    </p>
</section>
