@{
    Layout = "~/_SiteLayout.cshtml";
    var userName = WebSecurity.CurrentUserName;
    var db = Database.Open("StarterSite");
    if (UrlData.Count != 1)
    {
        Response.Redirect("~/Default.cshtml");
    }
    var mapId = UrlData.ElementAt(0);
    var selectMapQuery = "SELECT map.mapId, map.mapName, location.locationName, location.locationId " +
            "FROM map INNER JOIN location ON map.mapId = location.locationId " +
            "WHERE map.mapId = " + mapId;
    

    Console.Write(selectMapQuery);
    var dbResults = db.Query(selectMapQuery);
    var map = dbResults.ElementAt(0);
    Page.Title = map.mapName;
}

@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <div class="title">
                <h1>Map: <a href="@Request.RawUrl">@Page.Title.</a></h1>
            </div>
        </div>
    </section>
}

<p>Contains the following locations:</p>
<table id="locationTable">
    <thead>
        <tr>
            <th>Location</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var row in dbResults)
        {
            <tr class="locationRow" id="@row.locationId">
                <td class="locationName"><a href="~/Locations/@row.locationId">@row.locationName</a></td>
            </tr>
        }
    </tbody>
</table>